/202006CovidImmunemodel.aux
/202006CovidImmunemodel.bbl
/202006CovidImmunemodel.blg
/202006CovidImmunemodel.log
/202006CovidImmunemodel.pdf
/202006CovidImmunemodel.spl
/202006CovidImmunemodel.synctex.gz
